@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tiny5";
  src: url("/fonts/Tiny5-Regular.ttf");
}

@layer components {
  .image-pixelated {
    image-rendering: pixelated;
  }
}

progress::-webkit-progress-bar {
  @apply bg-gray-200;
}

progress::-webkit-progress-value {
  @apply bg-green-500;
}

progress::-moz-progress-bar {
  @apply bg-amber-400;
}
