@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tiny5";
  src: url("/fonts/Tiny5-Regular.ttf");
}

@layer components {
  .image-pixelated {
    image-rendering: pixelated;
  }
}
